<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AMT Vital Signs</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Ubuntu:wght@300&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">

</head>

<body>

  

    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow-sm">
      <div class="container">
      <a class="navbar-brand bg-light text-dark m-2 px-3 py-0 rounded shadow-sm" href="index.html">AMT</a>
      <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white " href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="upload_video.html">Get Your Vitals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white border-bottom" href="demo_video.html">Watch Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="index.html#contact">Contact Us</a>
          </li>


          </li>
        </ul>

      </div>
    </div>
    </nav>
    <section style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/imgs//shapes/8.svg);background-repeat: no-repeat;
    background-size: cover;" >

    <div class="container" style="min-height: 1000px;">
    <!-- READINGS-->
    <section id="reading">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
        <div class="jumbotron">
          <h1 class="h4 main-text" style="font-size: 140%;">Your calculated <%= vitalSign %>:</h1>
          <h1 class="h4 text-center" style="margin-top: 5%;"><%= vitalSignValue %> </h1>
          <p class="lead main-text2" style="font-size: 20px;color: black; margin-top: 5%;">Is that your real <%= vitalSign %>?</p>
          <hr class="my-4">
            
          <form method="post" action='/<%= vitalRout %>'>
            <div class="form-group " style="text-align:center;">
              <div class="col-md-5 mx-auto">
              <label for="formControlRange">Your real <%= vitalSign %></label>

              <input type="text" class="form-control  form-control-lg " min="30" max="120" id="formControlRange" name="value">
              <button type="submit" class="btn btn-primary btn-lg text" style="margin-top: 5%;">Submit</button>
            </div>
          </div>
          </form>
          
        </div>
      </div>
      </div>
    </section>

    <!-- Footer-->

    <footer class="fdb-block footer-small fp-active" data-block-type="footers" data-id="2">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <p>© 2020 AMT. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>

</body>

</html>